<!doctype html>
<html lang="es">
    <head>
        <title>CloudnCloud Descargas</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
        <link href="/static/css/form.css" rel="stylesheet">
    </head>
    <body class="bg-white text-center">
        <header class="navbar navbar-light bg-light" class="container">
                <a class="navbar-brand text-primary" href=".">
                    <img src="/static/imagenes/logo-mx.png" width="30" height="30" class="d-inline-block align-top" alt=""> CloudnCloud Descargas
                </a>
                <form>
                    <button type="enviar" class="btn btn-outline-primary">Sign up</button>
                </form>
        </header>
        <div class="container p-5">
            <form action="/home" class="form-signin">
                <img class="mb-4" src="/static/imagenes/logo-mx.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">CloudnCloud</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
        </div>
        <footer class="footer font-small bg-light">
            <div class="container text-center text-primary p-3">
                <span>
                    © 2018 Copyright - Made with love
                </span>
            </div>
        </footer>
    </body>
</html>
